<div class="container-fluid py-3">
  <div class="row my-3">
    <div class="col col-12">
      <ul class="list-group list-group-flush">
        <li class="list-group-item" *ngFor="let data of itemList">
          <div class="d-flex p-2 justify-content-between">
            <div style="width: 50px" class="bg-info rounded-circle"></div>
            <p>{{ data.Name }}</p>
            <p class="c-red">{{ data.ItemCategory }}</p>

            <p>{{ data.DefaultPriceConcessionName }}</p>

            <button
              type="button"
              class="btn btn-primary"
              data-bs-toggle="modal"
              (click)="
                openModel(demoModal, data.Id, data.DefaultPriceConcessionID)
              "
            >
              view Price detail
            </button>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<ng-template #demoModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{ selectedItem.name }}</h4>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="modal"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <ul class="list-group list-group-flush">
      <li class="list-group-item" *ngFor="let data of selectedItem.priceGroup">
        <p>{{ data.priceName }}</p>
        <div class="d-flex p-2 justify-content-between">
          <p>{{ data.type }}</p>
          <p>{{ data.amount }}</p>
        </div>
      </li>
    </ul>
  </div>
</ng-template>
